html {
  * {
    font-family: "Montserrat", sans-serif !important;
  }
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.v-main {
  padding-top: 0 !important;
  padding-left: 0 !important;
}

.v-breadcrumbs {
  flex-wrap: wrap;
}

.hover {
  text-decoration: none;
  color: inherit;
  transition: color 0.15s ease;
  &:hover {
    color: rgb(var(--v-theme-primary)) !important;
  }
  &-error:hover {
    color: rgb(var(--v-theme-accent)) !important;
  }
}

.list-point {
  list-style: none;
  padding-left: 0px;

  li {
    padding-left: 20px;
    position: relative;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: rgb(var(--v-theme-secondary)) !important;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.text-decoration-dotted {
  border-bottom: 1px dotted currentColor;
}

.text-decoration-line-through-custom {
  text-decoration: none;
  position: relative;
  &:after {
    content: '';
    width: 100%;
    top: 53%;
    left: 0;
    position: absolute;
    border-top: 1px solid rgb(var(--v-theme-accent));
    background: rgb(var(--v-theme-background-card));
  }
}

.disabled {
  cursor: none;
  pointer-events: none;
  opacity: .5;
}